<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-center">5 est le numéro parfait</h5>
          <p class="card-text text-center"><a href="#" ><img src="../assets/movies/5ESLPR.png" style="width:100%" ></a></p>
          <a href="#" class="btn btn-primary" alt="video" (click)="videoModal1.show()">Watch now</a>
        </div>
      </div>



    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-center">10 Minutes Gone</h5>
          <p class="card-text text-center"><a href="#"><img src="../assets/movies/10 Minutes Gone.jpg" style="width:100%"></a></p>
          <a href="#" class="btn btn-primary" (click)="videoModal2.show()">Watch now</a>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Un hologramme pour le roi</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/4566.png" style="width:100%"></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal3.show()">Watch now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">L'Extraordinaire Mr. Rogers</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/ANB.png" style="width:100%"></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal4.show()">Watch now</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title text-center">Bloodshot</h5>
              <p class="card-text text-center"><a href="#" ><img src="../assets/movies/bloodshot.png" style="width:100%" ></a></p>
              <a href="#" class="btn btn-primary" alt="video" (click)="videoModal5.show()">Watch now</a>
            </div>
          </div>
    
    
    
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title text-center">Mon frère</h5>
              <p class="card-text text-center"><a href="#"><img src="../assets/movies/FRER.png" style="width:100%"></a></p>
              <a href="#" class="btn btn-primary" (click)="videoModal6.show()">Watch now</a>
            </div>
          </div>
        </div>
    
    
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title text-center">Guns Akimbo</h5>
                <p class="card-text text-center"><a href="#"><img src="../assets/movies/GNSN.png" style="width:100%"></a></p>
                <a href="#" class="btn btn-primary" (click)="videoModal7.show()">Watch now</a>
              </div>
            </div>
          </div>
    
    
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title text-center">Hell on the Border</h5>
                <p class="card-text text-center"><a href="#"><img src="../assets/movies/HLOBR.png" style="width:100%"></a></p>
                <a href="#" class="btn btn-primary" (click)="videoModal8.show()">Watch now</a>
              </div>
            </div>
          </div>

         <div class="row">
           <div class="col-sm-3">
             <div class="card" >
               <div class="card-body text-center">
                 <h5 class="card-title text-center">Ideal Home</h5>
                 <p class="card-text text-center"><a href="#"><img src="../assets/movies/IDLH.png"style="width:100%"></a></p>
                 <a href="#" class="btn btn-primary" (click)="videoModal9.show()">Watch now</a>
               </div>
             </div>
           </div> 

         <div class="col-sm-3">
           <div class="card">
             <div class="card-body text-center">
               <h5 class="card-title text-center">Mortal Kombat Legends : Scorpion's Revenge</h5>
               <p class="card-text text-center"><a href="#"><img src="../assets/movies/MRTCL.png" style="width:100%"></a></p>
               <a href="#" class="btn btn-primary" (click)="videoModal10.show()">Watch now</a>
             </div>
           </div>
         </div>



    <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Mary</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/MRY.png" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal11.show()">Watch now</a>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Le Cas Richard Jewell</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/RJWL.png" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal12.show()">Watch now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">The Rhythm Section</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/RTM.png" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal13.show()">Watch now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Satanic Panic</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/STNP.jpg" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal14.show()">Watch now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Star Wars: L'Ascension de Skywalker</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/SWRSK.png" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal15.show()">Watch now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Trauma Center</h5>
            <p class="card-text text-center"><a href="#"><img src="../assets/movies/TRC.png" style="width:100% ; "></a></p>
            <a href="#" class="btn btn-primary" (click)="videoModal16.show()">Watch now</a>
          </div>
        </div>
      </div>

      <!--
        code movies iframes
      -->

      <div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/5y80atut5t7z" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div mdbModal #videoModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/rro9ekog03ci" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/es7loqp42etl" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal4="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/mxbjsn3in8ye" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal5="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/rv0hx8658o0z" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal6="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/gu84qjabwcj9" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal7="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/j0dc1oheu4z6" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal8="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/mfzadzsybye1" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal9="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/xqdji4o36dn2" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal10="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/ls2xxsf78itc" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal11="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/9k1iymvne5w9" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal12="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/exvjgb13d72r" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal13="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/gu22egm7vqci" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal14="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/7vge6xnp22b3" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal15="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/fmx47ql9bj2d" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div mdbModal #videoModal16="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://uptostream.com/iframe/yp2xykp5a3h0" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
